@font-face {
    font-family: "OpenSans";
    src: url("/fonts/astonied.otf") format("otf");
    font-display: auto;
}

@keyframes rainbow {
  0%   { color: hsl(0, 80%, 85%); }
  20%  { color: hsl(45, 85%, 82%); }
  40%  { color: hsl(90, 80%, 82%); }
  60%  { color: hsl(180, 75%, 82%); }
  80%  { color: hsl(260, 80%, 84%); }
  100% { color: hsl(320, 85%, 85%); }
}

.rainbow-mode * {
  animation: rainbow 1s ease-in-out 1;
}

/* make SVGs follow */
.rainbow-mode svg,
.rainbow-mode svg * {
  fill: currentColor;
  stroke: currentColor;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: "OpenSans", sans-serif;
    color: #444;
    background-color: #F0F0F0;
    line-height: 1.4;
}

@media only screen and (max-width: 600px) {
    html {
        line-height: 1.3;
    }
}

html.dark {
    color: #9F9FAA;
    background-color: #242528;
}

svg,
#about,
a {
    color: #444;
    fill: #444;
}

html.dark svg,
html.dark #about,
html.dakr a {
    color: #9F9FAA;
    fill: #9F9FAA;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

html.dark a {
    color: #9F9FAA;
}

h3 {
    font-size: 20px;
}

nav {
    width: 100vw;
    font-weight: 600;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    text-align: center;
}

nav a {
    margin: 0 1rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.25s ease-in-out;
}

#home {
    position: absolute;
    top: 0;
    left: 30px;
    cursor: pointer;
}

#home svg {
    height: 30px;
    width: 30px;
    padding: 10px;
    transform: rotate(90deg);
    transform-origin: center;
}

#toggle {
    /* Move to the top right of the screen */
    position: absolute;
    top: 0;
    right: 100px;
    cursor: pointer;
}

/* Toggle media query for mobile */
@media only screen and (max-width: 600px) {
    #toggle {
        right: 50px;
    }

    #home {
        left: 0;
    }

}

pre {
  overflow-x: auto;
  max-width: 100%;
  padding: 1rem;
}

#moon, #sun {
    position: absolute;
    transition: opacity 0.1s ease;
}

#moon {
    opacity: 1;
}

#sun {
    opacity: 0;
}

svg {
    height: 50px;
    width: 50px;
}

/* Icons media query for mobile */
@media only screen and (max-width: 600px) {
    svg {
        height: 40px;
        width: 40px;
    }
}

div {
    max-width: 900px;
    padding-top: 10vh;
    align-items: center;
    text-align: center;
}

/* div mobile compatibility */
@media only screen and (max-width: 600px) {
    div {
        max-width: 90vw;
        padding-top: 15vh;
    }
}

pre {
    font-size: 20px;
    text-align: left;
}

@media only screen and (max-width: 600px) {
    pre {
        font-size: 16px;
    }
}

.btn {
    display: inline-block;
    padding: 20px 30px;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    border-width: 30px;
    border: #444 solid 3px;
}

@media only screen and (max-width: 600px) {
    .btn {
        padding: 15px 25px;
        font-size: 18px;
    }
}

html.dark .btn {
    background-color:#242528;
    color: #9F9FAA;
    border: #9F9FAA solid 3px;
}

.btn:hover {
    transition: background-color 0.2s ease, color 0.2s ease;
    background-color: #E0E0E0;
    transition: transform 0.25s ease-in-out;
    transform: scale(1.04);
}

.btn:active {
    transition: transform 0.15s ease-in-out;
    transform: scale(0.96);
}

html.dark .btn:hover {
    transition: background-color 0.2s ease, color 0.2s ease;
    background-color: #363636;
    transition: transform 0.25s ease-in-out;
    transform: scale(1.04);
}

html.dark .btn:active {
    transition: background-color 0.2s ease, color 0.2s ease;
    background-color: #1E1E1E;
    transition: transform 0.15s ease-in-out;
    transform: scale(0.96);
}