# Make sure to move this to /etc/systemd/system
# For Debian systems you then run `sudo systemctl enable pkrm` and `sudo systemctl start pkrm`

# Make sure to change the `WorkingDirectory` and `ExecStart` paths, as it is most likely not correct
# for your setup.
[Unit]
Description=Keep PKRM.DEV Up and Running
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/parker/pkrm
ExecStart=/usr/bin/bash /home/parker/pkrm/pkrm.sh
Restart=always

[Install]
WantedBy=multi-user.target
