* {
    font-family: 'Kanit', sans-serif;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    background-image: url(/bg.png);
    background-size: cover;
    color: #fff;
    will-change: transform;
}

.fa-angle-down {
    color: #fff;
    font-size: 1.823vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5.208vw;
}

.fa-angle-down:hover {
    opacity: .6;
    cursor: pointer;
}

/* Fixed footer */
footer {
    position: sticky;
    bottom: 0;
    background-color: #0d0d0d;
    font-size: 1.042vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    padding: 1.042vw;
}

footer a {
    text-decoration: underline;
    color: white
}

footer a:hover {
    opacity: .6;
    cursor: pointer;
}

/* Media query for footer on tablets */
@media screen and (max-width: 1280px) {
    footer {
        font-size: 2.5vw;
    }
}

/* Media query for footer on mobile */
@media screen and (max-width: 600px) {
    footer {
        font-size: 5vw;
    }
}

/* Navbar mobile icons */
#hamburger i {
    font-size: 2.083vw;
    position: absolute;
    top: 40px;
    right: 40px;
    display: none;
}

#x i {
    font-size: 2.083vw;
    position: absolute;
    top: 40px;
    right: 40px;
    display: none;
}


/* Main page (Hi I'm Parker) */
#main {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1.823vw;
    margin: 0 25px;
}

nav a:hover {
    opacity: .6;
    cursor: pointer;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons i {
    font-size: 3.125vw;
    margin: 1.042vw 50px;
}

.icons i:hover {
    opacity: .6;
    cursor: pointer;
}

header {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 8.333vw;
}

header h2 {
    font-size: 3.125vw;
    /* animation: bringIn 2s; */
    padding-right: 50px;
}

/* Main section media query for tablets */
@media screen and (max-width: 1280px) {
    nav a {
        font-size: 4vw;
        margin-bottom: 3.646vw;
    }

    header h1 {
        font-size: 12vw;
    }

    header h2 {
        font-size: 7vw;
        padding-right: 25px;
    }

    .icons {
        margin-top: 3vw;
    }

    .icons i {
        font-size: 7vw;
        margin: 0 25px;
    }

    .fa-angle-down {
        font-size: 5vw;
        bottom: 15vw;
    }
}

/* Main section media query for mobile */
@media screen and (max-width: 600px) {
    #hamburger i,
    #x i {
        font-size: 8vw;
    }
    nav {
        flex-direction: column;
        position: absolute;
    }

    nav a {
        font-size: 7vw;
        margin-bottom: 15vw;
    }

    header {
        flex-direction: column;
        bottom: 100px;
    }

    header h1 {
        font-size: 17vw;
    }

    header h2 {
        font-size: 12vw;
        padding-right: 0;
    }

    .icons {
        flex-direction: row;
        position: absolute;
        bottom: 75vw;
    }

    .icons i {
        font-size: 12vw;
        margin: 0 5px;
    }

    .fa-angle-down {
        font-size: 8vw;
        bottom: 20vw;
    }
}

/* Create the keyframes fade in */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* About me section */
#about {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#about h1 {
    font-size: 4.167vw;
    margin-bottom: 1.563vw;
}

#about p {
    font-size: 1.563vw;
    width: 50%;
    text-align: center;
}

/* About section media query for tablets */
@media screen and (max-width: 1280px) {
    #about h1 {
        font-size: 10vw;
    }
    #about p {
        font-size: 4vw;
        width: 80%;
    }
}

/* About section media query for mobile */
@media screen and (max-width: 600px) {
    #about h1 {
        font-size: 12vw;
    }
    #about p {
        font-size: 5vw;
        width: 80%;
    }
}

/* Slider for Projects - Credit to this codepen - https://codepen.io/maheshambure21/pen/qZZrxy */
*, *:before, *:after {
    box-sizing: border-box;
}

.slider {
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: center;
}

.slider__nav {
    width: 1.042vw;
    height: 1.042vw;
    margin: 1.042vw 0.521vw;
    border-radius: 50%;
    z-index: 10;
    outline: 14px solid white;
    outline-offset: -14px;
    cursor: pointer;
    appearance: none;
}

.slider__nav:checked {
    -webkit-animation: check 0.4s linear forwards;
    animation: check 0.4s linear forwards;
}

.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
    left: 0%;
}

.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
    left: -100%;
}

.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
    left: -200%;
}

.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
    left: -300%;
}

.slider__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 400%;
    height: 100%;
    -webkit-transition: left 0.7s;
    transition: left 0.7s;
    display: flex;
    flex-flow: row nowrap;
}

.slider__contents {
    height: 100%;
    text-align: center;
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.slider__caption {
    font-size: 4.167vw;
    margin: 1.563vw;
    max-width: 75%;
}

.slider__txt {
    color: white;
    max-width: 30%;
    font-size: 1.563vw;
}

.slider__button {
    font-size: 1.563vw;
    padding: 0.391vw 1.042vw;
    border-radius: 5px;
    background: #333;
    color: white;
    text-decoration: none;
    cursor: pointer;
    margin-right: 1.042vw;
}

.slider__button:hover {
    opacity: .6;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

/* Projects section media query for tablets */
@media screen and (max-width: 1280px) {
    .slider__caption {
        max-width: 95%;
        font-size: 10vw;
    }
    .slider__txt {
        font-size: 4vw;
        max-width: 80%;
    }

    .slider__button {
        font-size: 4vw;
    }

    .slider__nav {
        margin-bottom: 2.64vw;
        width: 3vw;
        height: 3vw;
        margin: 0 2vw 10vw 2vw;
    }
}

/* Projects section media query for mobile */
@media screen and (max-width: 600px) {
    .slider__caption {
        font-size: 12vw;
        max-width: 95%;
    }
    .slider__txt {
        font-size: 5vw;
        max-width: 80%;
    }

    .slider__button {
        font-size: 5vw;
        display: flex;
        justify-content: center;
        margin: 0;
        margin-bottom: 6vw;
    }

    .slider__nav {
        margin-bottom: 2.64vw;
        width: 5vw;
        height: 5vw;
        margin: 0 2vw 10vw 2vw;
    }
}

@-webkit-keyframes check {
    50% {
        outline-color: #333;
    }
    100% {
        outline-color: #333;
    }
}

@keyframes check {
    50% {
        outline-color: #333;
    }
    100% {
        outline-color: #333;
    }
}