<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add .onion link -->
    <meta http-equiv="onion-location" content="http://o2o2o2yfrueii33hxjja3foegbkjckxg2fy4vr4y4pqvnk2oxqknvjqd.onion/about">
    <!-- Encourage indexing -->
    <meta name="robots" content="index, follow">

    <link rel="stylesheet", href="{{ url_for('static', filename='css/about.css') }}">
    <meta property="og:title" content="About Me | pkrm.dev"/>
    <meta property="og:url" content="https://pkrm.dev"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="Learn more about me and what I do."/>
    <title>About Me | pkrm.dev</title>
</head>
<body>
    <nav>
        <div class="navbar-left">
            <a href="/">Home</a>
        </div>

        <div class="navbar-right">
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </div>
    </nav>

    <div class="container">
        <h1>About Me</h1>
        <p>I am a senior in high school who enjoys programming and learning more about different technologies. I manage a Debian home server where I self-host tools like: <a href="https://dnscrypt.org" target="_blank" style="text-decoration: underline; color: #9F9FAA">DNSCrypt</a>, <a href="https://github.com/AdguardTeam/AdguardHome" target="_blank" style="text-decoration: underline; color: #9F9FAA">AdGuard</a>, <a href="https://wireguard.org" target="_blank" style="text-decoration: underline; color: #9F9FAA">WireGuard</a>, <a href="https://syncthing.net" target="_blank" style="text-decoration: underline; color: #9F9FAA">Syncthing</a>, and many more media/system management utilities.<br><br>Find my work by viewing my open-sourced repositories on <a href="https://github.com/packetparker" target="_blank" style="text-decoration: underline; color: #9F9FAA">GitHub</a>.</p>
    </div>

    <footer>PGP Fingerprint: 58B7 6B8B BAB8 794D 21E2 579C 95CD 2E0C 7E32 9F2A</footer>
</body>
</html>