<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add .onion link -->
    <meta http-equiv="onion-location" content="http://o2o2o2yfrueii33hxjja3foegbkjckxg2fy4vr4y4pqvnk2oxqknvjqd.onion">
    <!-- Dicourage indexing -->
    <meta name="robots" content="noindex, nofollow, noarchive">

    <link rel="stylesheet", href="{{ url_for('static', filename='css/index.css') }}">
    <meta property="og:title" content="Home | pkrm.dev"/>
    <meta property="og:url" content="https://pkrm.dev/"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="This is my personal website. Take a look around."/>

    <title>Home | pkrm.dev</title>
</head>
<body>
    <nav>
        <div class="navbar-left">
            <a href="/">Home</a>
        </div>

        <div class="navbar-right">
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </div>
    </nav>

    <div class="container">
        <h1>Hello, I'm Parker</h1>
        <p>A student with a strong passion for technology and privacy.</p>

        <a href="mailto:contact@pkrm.dev" target="_blank"><img class="icons" src="{{ url_for('static', filename='mail.png') }}" alt="Mail Logo"></a>
        <a href="https://github.com/packetparker" target="_blank"><img class="icons" src="{{ url_for('static', filename='github.png') }}" alt="GitHub Logo"></a>
        <a href="https://www.linkedin.com/in/parker-m/" target="_blank"><img class="icons" src="{{ url_for('static', filename='linkedin.png') }}" alt="LinkedIn Logo"></a>
        <a href="xmpp:contact@pkrm.dev" target="_blank"><img class="icons" src="{{ url_for('static', filename='xmpp.png') }}" alt="XMPP Logo"></a>
        <a href="/pgp" target="_blank"><img class="icons" src="{{ url_for('static', filename='gnupg.png') }}" alt="GnuPG Logo"></a>
    </div>

    <footer>PGP Fingerprint: FD5C 7FFF 860B 6E97 7049 E27E 505E D36F C12B 5D5E</footer>
</body>
</html>