<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add .onion link -->
    <meta http-equiv="onion-location" content="http://o2o2o2yfrueii33hxjja3foegbkjckxg2fy4vr4y4pqvnk2oxqknvjqd.onion/pgp">
    <!-- Discourage indexing -->
    <meta name="robots" content="noindex, nofollow, noarchive">

    <link rel="stylesheet", href="{{ url_for('static', filename='css/pgp.css') }}">
    <meta property="og:title" content="PGP Key | pkrm.dev"/>
    <meta property="og:url" content="https://pkrm.dev/pgp"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="Copy or download my PGP public key."/>

    <title>PGP Key | pkrm.dev</title>
</head>
<body>
    <nav>
        <div class="navbar-left">
            <a href="/">Home</a>
        </div>

        <div class="navbar-right">
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </div>
    </nav>

    <div class="container">
        <h1>Copy my key below, or click <a href="/parker.asc" style="text-decoration: underline; color: #9F9FAA;">here</a> to download it.</h1>
        <p>
            -----BEGIN PGP PUBLIC KEY BLOCK-----
            <br><br>
            mDMEZyMGlhYJKwYBBAHaRw8BAQdAoO/hA2S3fx16L55Bx+2bRN+zZe+8+wyME8vQ
            7KANwn+0G1BhcmtlciBNIDxjb250YWN0QHBrcm0uZGV2PoiTBBMWCgA7AhsDBQsJ
            CAcCAiICBhUKCQgLAgQWAgMBAh4HAheAFiEE/Vx//4YLbpdwSeJ+UF7Tb8ErXV4F
            AmcjB84ACgkQUF7Tb8ErXV5MGQD/Uxy3OwbaGmSDYcJks3fT2xrcwrTLHpYHDU/e
            MgIrFnUBALJ9X18ugx6s3CPtNgnyvm6cLU/ttzeRoRWdG8PuODYFiJMEExYKADsW
            IQT9XH//hgtul3BJ4n5QXtNvwStdXgUCZyMGlgIbAwULCQgHAgIiAgYVCgkICwIE
            FgIDAQIeBwIXgAAKCRBQXtNvwStdXjeOAP9qQ4qg2k0WamMec/SdOchux/p8wzTo
            F0Z9yXwIXsjmeAD/RxeHB8x9ZCfe1t1eNk+oVcPBmw/fLPr8OALpjJkG9Aq4OARn
            IwaWEgorBgEEAZdVAQUBAQdAyDo44/FnbZMNqQUxYHgaQY1qImz9YsLSD/fmHzrA
            ymIDAQgHiHgEGBYKACAWIQT9XH//hgtul3BJ4n5QXtNvwStdXgUCZyMGlgIbDAAK
            CRBQXtNvwStdXiqSAP4/QwITUsUE6OLRKUQZ5JN4WQhjWto18vIZI/NlNVvibAEA
            knJ7V0TYPjX8LhOCno47dDkwSWAHT/S9oMbRg9rCigk=
            =oX5k
            <br>
            -----END PGP PUBLIC KEY BLOCK-----
        </p>
    </div>

    <footer>PGP Fingerprint: FD5C 7FFF 860B 6E97 7049 E27E 505E D36F C12B 5D5E</footer>
</body>
</html>

<script>
    // Get the h1
    const h1 = document.querySelector('h1');

    // Get the p tag
    const p = document.querySelector('p');

    // If the user is on mobile, remove the p tag and change the h1
    if (window.innerWidth <= 600) {
        p.remove();
        h1.innerHTML = 'Click <a href="/parker.asc" style="text-decoration: underline; color: #9F9FAA;">here</a> to download my PGP key.';
        h1.style.wordBreak = 'normal';
    }
</script>