<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add .onion link -->
    <meta http-equiv="onion-location" content="http://o2o2o2yfrueii33hxjja3foegbkjckxg2fy4vr4y4pqvnk2oxqknvjqd.onion/pgp">
    <!-- Encourage indexing -->
    <meta name="robots" content="index, follow">

    <link rel="stylesheet", href="{{ url_for('static', filename='css/pgp.css') }}">
    <meta property="og:title" content="PGP Key | pkrm.dev"/>
    <meta property="og:url" content="https://pkrm.dev/pgp"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="Copy or download my PGP public key."/>

    <title>PGP Key | pkrm.dev</title>
</head>
<body>
    <nav>
        <div class="navbar-left">
            <a href="/">Home</a>
        </div>

        <div class="navbar-right">
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </div>
    </nav>

    <div class="container">
        <h1>Copy my key below, or click <a href="/parker.asc" style="text-decoration: underline; color: #9F9FAA;">here</a> to download it.</h1>
        <p>

            -----BEGIN PGP PUBLIC KEY BLOCK-----
            <br><br>
            xjMEZI06YRYJKwYBBAHaRw8BAQdAxymP7jguJxjtKKqGQ/fSXGwZVzOiix6iRS1F
            6BVMu+3NG1BhcmtlciBNIDxjb250YWN0QHBrcm0uZGV2PsKTBBMWCgA7FiEEWLdr
            i7q4eU0h4leclc0uDH4ynyoFAmSNOmECGwMFCwkIBwICIgIGFQoJCAsCBBYCAwEC
            HgcCF4AACgkQlc0uDH4ynyrBIAEAu7y2oebvsBb+tJXPUOZkjqE+rsAwiDgHLj3U
            gYMM4XUBALPsZ4IgA5mWhTDTV00QLHmVtybCJzCdc7LzyvQH78cHzjgEZI06YRIK
            KwYBBAGXVQEFAQEHQLBpSX+qSOtSFVrp9+VfJGHsoPaIhoxIjz44byrtLXZ4AwEI
            B8J4BBgWCgAgFiEEWLdri7q4eU0h4leclc0uDH4ynyoFAmSNOmECGwwACgkQlc0u
            DH4ynyqQhAEAuo1HGXEKkBUzji+cCW3wF/oqg0cQklQzfKUkifLhiC8A/2gdilxS
            AYHKY0lEJandkOjid/otDdiIZCUBt5mXjncL
            =ni8o
            <br>
            -----END PGP PUBLIC KEY BLOCK-----

        </p>
    </div>

    <footer>PGP Fingerprint: 58B7 6B8B BAB8 794D 21E2 579C 95CD 2E0C 7E32 9F2A</footer>
</body>
</html>

<script>
    // Get the h1
    const h1 = document.querySelector('h1');

    // Get the p tag
    const p = document.querySelector('p');

    // If the user is on mobile, remove the p tag and change the h1
    if (window.innerWidth <= 600) {
        p.remove();
        h1.innerHTML = 'Click <a href="/parker.asc" style="text-decoration: underline; color: #9F9FAA;">here</a> to download my PGP key.';
        h1.style.wordBreak = 'normal';
    }
</script>